.Rproj.user
.Rhistory
.RData
.Ruserdata
.qualtRics
inst/doc
unfinished.R
test.R
surveyDesignTemplate.rds
qualcred.R
testsurvey.rds
/documentation/*
/man/qualtRicsResponseCodes.Rd
/dev/*
.qualtRics.yml
.qualtRicstmp.yml
