http_interactions:
- request:
    method: GET
    uri: https://iad1.qualtrics.com/API/v3/surveys/SV_5BJRo2RGHajIlOB/
  response:
    status: 200
    headers:
      request-time: '355'
      content-type: application/json
    body:
      string: '{"result":{"id":"SV_5BJRo2RGHajIlOB","name":"Sourdough Bread","ownerId":"UR_8wfG5qsMxuh0Jrn","organizationId":"conjoint","isActive":true,"creationDate":"2020-03-29T20:33:12Z","lastModifiedDate":"2021-07-06T20:41:50Z","expiration":{"startDate":null,"endDate":null},"questions":{"QID5":{"questionType":{"type":"DB","selector":"TB","subSelector":null},"questionText":"This
        survey will help us understand your awareness of sourdough bread during these
        uncertain times and its individual features.","questionLabel":null,"validation":{"doesForceResponse":false},"questionName":"Q5"},"QID2001":{"questionType":{"type":"DB","selector":"GRB","subSelector":"WOTXBURL"},"questionText":"Click
        to write the question text","questionLabel":null,"validation":{"doesForceResponse":false},"questionName":"Q16"},"QID1002":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"What
        is the highest level of education you have received? ","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q1002","choices":{"1":{"recode":"1","description":"Less
        than high school degree","choiceText":"Less than high school degree","imageDescription":null,"variableName":null,"analyze":true},"9":{"recode":"9","description":"High
        school graduate (high school diploma or equivalent including GED)","choiceText":"High
        school graduate (high school diploma or equivalent including GED)","imageDescription":null,"variableName":null,"analyze":true},"10":{"recode":"10","description":"Some
        college but no degree","choiceText":"Some college but no degree","imageDescription":null,"variableName":null,"analyze":true},"11":{"recode":"11","description":"Associate
        degree in college (2-year)","choiceText":"Associate degree in college (2-year)","imageDescription":null,"variableName":null,"analyze":true},"12":{"recode":"12","description":"Bachelor''s
        degree in college (4-year)","choiceText":"Bachelor''s degree in college (4-year)","imageDescription":null,"variableName":null,"analyze":true},"13":{"recode":"13","description":"Master''s
        degree","choiceText":"Master''s degree","imageDescription":null,"variableName":null,"analyze":true},"14":{"recode":"14","description":"Doctoral
        degree","choiceText":"Doctoral degree","imageDescription":null,"variableName":null,"analyze":true},"15":{"recode":"15","description":"Professional
        degree (JD, MD)","choiceText":"Professional degree (JD, MD)","imageDescription":null,"variableName":null,"analyze":true}}},"QID1006":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"Do
        you have any children (under age 18) living in your home?","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q1006","choices":{"1":{"recode":"1","description":"Yes","choiceText":"Yes","imageDescription":null,"variableName":null,"analyze":true},"3":{"recode":"3","description":"No","choiceText":"No","imageDescription":null,"variableName":null,"analyze":true}}},"QID1007":{"questionType":{"type":"TE","selector":"SL","subSelector":null},"questionText":"How
        many children (under age 18) are living in your home?","questionLabel":null,"validation":{"doesForceResponse":true,"type":"ValidNumber","settings":{"maxDecimals":0,"maximum":0.0,"minimum":1.0}},"questionName":"Q1007"},"QID1":{"questionType":{"type":"Matrix","selector":"Likert","subSelector":"SingleAnswer"},"questionText":"Are
        you aware of the <strong>sourdough bread</strong> features listed below?","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q1","subQuestions":{"1":{"recode":"1","description":"Distraction
        during quarantine","choiceText":"Distraction during quarantine","variableName":null,"imageDescription":null},"2":{"recode":"2","description":"Texture","choiceText":"Texture","variableName":null,"imageDescription":null},"3":{"recode":"3","description":"Flavor","choiceText":"Flavor","variableName":null,"imageDescription":null},"4":{"recode":"4","description":"Color","choiceText":"Color","variableName":null,"imageDescription":null},"5":{"recode":"5","description":"Nutritional
        value","choiceText":"Nutritional value","variableName":null,"imageDescription":null}},"choices":{"1":{"recode":"1","description":"Aware
        of it","choiceText":"Aware of it","imageDescription":null,"analyze":true},"2":{"recode":"2","description":"Not
        aware of it","choiceText":"Not aware of it","imageDescription":null,"analyze":true}},"randomization":{"type":"all"}},"QID200":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"Have
        you used the <strong>sourdough bread</strong> feature listed below?<div><br></div><div><strong>Distraction
        during quarantine</strong></div>","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q200","choices":{"1":{"recode":"1","description":"Have
        used","choiceText":"Have used","imageDescription":null,"variableName":null,"analyze":true},"2":{"recode":"2","description":"Have
        NOT used","choiceText":"Have NOT used","imageDescription":null,"variableName":null,"analyze":true}}},"QID300":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"How
        valuable is the <strong>sourdough bread</strong> feature listed below?<div><br></div><div><b>Distraction
        you during quarantine</b><br></div>","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q300","choices":{"5":{"recode":"5","description":"Extremely
        valuable","choiceText":"Extremely valuable","imageDescription":null,"variableName":null,"analyze":true},"4":{"recode":"4","description":"Very
        valuable","choiceText":"Very valuable","imageDescription":null,"variableName":null,"analyze":true},"3":{"recode":"3","description":"Somewhat
        valuable","choiceText":"Somewhat valuable","imageDescription":null,"variableName":null,"analyze":true},"2":{"recode":"2","description":"Slightly
        valuable","choiceText":"Slightly valuable","imageDescription":null,"variableName":null,"analyze":true},"1":{"recode":"1","description":"Not
        at all valuable","choiceText":"Not at all valuable","imageDescription":null,"variableName":null,"analyze":true}}},"QID201":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"Have
        you used the <strong>sourdough bread</strong> feature listed below?<div><br></div><div><b>Texture</b><br></div>","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q201","choices":{"1":{"recode":"1","description":"Have
        used","choiceText":"Have used","imageDescription":null,"variableName":null,"analyze":true},"2":{"recode":"2","description":"Have
        NOT used","choiceText":"Have NOT used","imageDescription":null,"variableName":null,"analyze":true}}},"QID301":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"How
        valuable is the <strong>sourdough bread</strong> feature listed below?<div><br></div><div><b>Texture</b><br></div>","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q301","choices":{"5":{"recode":"5","description":"Extremely
        valuable","choiceText":"Extremely valuable","imageDescription":null,"variableName":null,"analyze":true},"4":{"recode":"4","description":"Very
        valuable","choiceText":"Very valuable","imageDescription":null,"variableName":null,"analyze":true},"3":{"recode":"3","description":"Somewhat
        valuable","choiceText":"Somewhat valuable","imageDescription":null,"variableName":null,"analyze":true},"2":{"recode":"2","description":"Slightly
        valuable","choiceText":"Slightly valuable","imageDescription":null,"variableName":null,"analyze":true},"1":{"recode":"1","description":"Not
        at all valuable","choiceText":"Not at all valuable","imageDescription":null,"variableName":null,"analyze":true}}},"QID202":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"Have
        you used the <strong>sourdough bread</strong> feature listed below?<div><br></div><div><b>Flavor</b><br></div>","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q202","choices":{"1":{"recode":"1","description":"Have
        used","choiceText":"Have used","imageDescription":null,"variableName":null,"analyze":true},"2":{"recode":"2","description":"Have
        NOT used","choiceText":"Have NOT used","imageDescription":null,"variableName":null,"analyze":true}}},"QID302":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"How
        valuable is the <strong>sourdough bread</strong> feature listed below?<div><br></div><div><b>Flavor</b><br></div>","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q302","choices":{"5":{"recode":"5","description":"Extremely
        valuable","choiceText":"Extremely valuable","imageDescription":null,"variableName":null,"analyze":true},"4":{"recode":"4","description":"Very
        valuable","choiceText":"Very valuable","imageDescription":null,"variableName":null,"analyze":true},"3":{"recode":"3","description":"Somewhat
        valuable","choiceText":"Somewhat valuable","imageDescription":null,"variableName":null,"analyze":true},"2":{"recode":"2","description":"Slightly
        valuable","choiceText":"Slightly valuable","imageDescription":null,"variableName":null,"analyze":true},"1":{"recode":"1","description":"Not
        at all valuable","choiceText":"Not at all valuable","imageDescription":null,"variableName":null,"analyze":true}}},"QID203":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"Have
        you used the <strong>sourdough bread</strong> feature listed below?<div><br></div><div><b>Color</b><br></div>","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q203","choices":{"1":{"recode":"1","description":"Have
        used","choiceText":"Have used","imageDescription":null,"variableName":null,"analyze":true},"2":{"recode":"2","description":"Have
        NOT used","choiceText":"Have NOT used","imageDescription":null,"variableName":null,"analyze":true}}},"QID303":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"How
        valuable is the <strong>sourdough bread</strong> feature listed below?<div><br></div><div><b>Color</b><br></div>","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q303","choices":{"5":{"recode":"5","description":"Extremely
        valuable","choiceText":"Extremely valuable","imageDescription":null,"variableName":null,"analyze":true},"4":{"recode":"4","description":"Very
        valuable","choiceText":"Very valuable","imageDescription":null,"variableName":null,"analyze":true},"3":{"recode":"3","description":"Somewhat
        valuable","choiceText":"Somewhat valuable","imageDescription":null,"variableName":null,"analyze":true},"2":{"recode":"2","description":"Slightly
        valuable","choiceText":"Slightly valuable","imageDescription":null,"variableName":null,"analyze":true},"1":{"recode":"1","description":"Not
        at all valuable","choiceText":"Not at all valuable","imageDescription":null,"variableName":null,"analyze":true}}},"QID204":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"Have
        you used the <strong>sourdough bread</strong> feature listed below?<div><br></div><div><b>Nutritional
        value</b><br></div>","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q204","choices":{"1":{"recode":"1","description":"Have
        used","choiceText":"Have used","imageDescription":null,"variableName":null,"analyze":true},"2":{"recode":"2","description":"Have
        NOT used","choiceText":"Have NOT used","imageDescription":null,"variableName":null,"analyze":true}}},"QID304":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"How
        valuable is the <strong>sourdough bread</strong> feature listed below?<div><br></div><div><b>Nutritional
        value</b><br></div>","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q304","choices":{"5":{"recode":"5","description":"Extremely
        valuable","choiceText":"Extremely valuable","imageDescription":null,"variableName":null,"analyze":true},"4":{"recode":"4","description":"Very
        valuable","choiceText":"Very valuable","imageDescription":null,"variableName":null,"analyze":true},"3":{"recode":"3","description":"Somewhat
        valuable","choiceText":"Somewhat valuable","imageDescription":null,"variableName":null,"analyze":true},"2":{"recode":"2","description":"Slightly
        valuable","choiceText":"Slightly valuable","imageDescription":null,"variableName":null,"analyze":true},"1":{"recode":"1","description":"Not
        at all valuable","choiceText":"Not at all valuable","imageDescription":null,"variableName":null,"analyze":true}}}},"exportColumnMap":{"Q5":{"question":"QID5"},"Q16":{"question":"QID2001"},"Q1002":{"question":"QID1002"},"Q1006":{"question":"QID1006"},"Q1007":{"question":"QID1007"},"Q1_1":{"question":"QID1","subQuestion":"QID1.subQuestions.1"},"Q1_2":{"question":"QID1","subQuestion":"QID1.subQuestions.2"},"Q1_3":{"question":"QID1","subQuestion":"QID1.subQuestions.3"},"Q1_4":{"question":"QID1","subQuestion":"QID1.subQuestions.4"},"Q1_5":{"question":"QID1","subQuestion":"QID1.subQuestions.5"},"Q200":{"question":"QID200"},"Q300":{"question":"QID300"},"Q201":{"question":"QID201"},"Q301":{"question":"QID301"},"Q202":{"question":"QID202"},"Q302":{"question":"QID302"},"Q203":{"question":"QID203"},"Q303":{"question":"QID303"},"Q204":{"question":"QID204"},"Q304":{"question":"QID304"}},"blocks":{"BL_6Liv25mqe6h3KpT":{"description":"Intro","elements":[{"type":"Question","questionId":"QID5"},{"type":"Question","questionId":"QID2001"}]},"BL_cNJhXeMWCFAFQLH":{"description":"Demographics","elements":[{"type":"Question","questionId":"QID1002"},{"type":"PageBreak"},{"type":"Question","questionId":"QID1006"},{"type":"PageBreak"},{"type":"Question","questionId":"QID1007"}]},"BL_2fpKHAsVreU7d6R":{"description":"Feature
        Awareness","elements":[{"type":"Question","questionId":"QID1"}]},"BL_bg9n1GA70oYUEf0":{"description":"Feature
        Value - ability to distract you during quarantine","elements":[{"type":"Question","questionId":"QID200"},{"type":"PageBreak"},{"type":"Question","questionId":"QID300"}]},"BL_bg9n1GA70oYUEf1":{"description":"Feature
        Value - texture","elements":[{"type":"Question","questionId":"QID201"},{"type":"PageBreak"},{"type":"Question","questionId":"QID301"}]},"BL_bg9n1GA70oYUEf2":{"description":"Feature
        Value - flavor","elements":[{"type":"Question","questionId":"QID202"},{"type":"PageBreak"},{"type":"Question","questionId":"QID302"}]},"BL_bg9n1GA70oYUEf3":{"description":"Feature
        Value - color","elements":[{"type":"Question","questionId":"QID203"},{"type":"PageBreak"},{"type":"Question","questionId":"QID303"}]},"BL_bg9n1GA70oYUEf4":{"description":"Feature
        Value - nutritional value","elements":[{"type":"Question","questionId":"QID204"},{"type":"PageBreak"},{"type":"Question","questionId":"QID304"}]}},"flow":[{"type":"Group","flow":[{"type":"EmbeddedData"}]},{"id":"BL_6Liv25mqe6h3KpT","type":"Block"},{"id":"BL_cNJhXeMWCFAFQLH","type":"Block"},{"id":"BL_2fpKHAsVreU7d6R","type":"Block"},{"type":"BlockRandomizer","randomizationOptions":{"randomSubset":5,"evenPresentation":false},"flow":[{"type":"Branch","flow":[{"id":"BL_bg9n1GA70oYUEf0","type":"Block"}]},{"type":"Branch","flow":[{"id":"BL_bg9n1GA70oYUEf1","type":"Block"}]},{"type":"Branch","flow":[{"id":"BL_bg9n1GA70oYUEf2","type":"Block"}]},{"type":"Branch","flow":[{"id":"BL_bg9n1GA70oYUEf3","type":"Block"}]},{"type":"Branch","flow":[{"id":"BL_bg9n1GA70oYUEf4","type":"Block"}]}]}],"embeddedData":[{"name":"SolutionRevision","defaultValue":"2"}],"comments":{},"loopAndMerge":{},"responseCounts":{"auditable":8,"generated":121,"deleted":0}},"meta":{"httpStatus":"200
        - OK","requestId":"aae3aab3-0161-49fb-a445-a6e18e65defe"}}'
  recorded_at: 2025-08-05 00:56:40
recorded_with: VCR-vcr/2.0.0
