http_interactions:
- request:
    method: POST
    uri: https://iad1.qualtrics.com/API/v3/surveys/SV_56icaa9YAafpAqx/export-responses/
    body:
      string: '{"format":"csv","useLabels":true,"timeZone":"America/Denver","includeDisplayOrder":true,"breakoutSets":true}'
  response:
    status: 200
    headers:
      request-time: '1532'
      content-type: application/json
    body:
      string: '{"result":{"progressId":"ES_9EkFEbPRlRGExeu","percentComplete":0.0,"status":"inProgress"},"meta":{"requestId":"87cbcd6b-4559-4c93-934a-9c2e806653c5","httpStatus":"200
        - OK"}}'
  recorded_at: 2025-08-05 03:01:35
- request:
    method: GET
    uri: https://iad1.qualtrics.com/API/v3/surveys/SV_56icaa9YAafpAqx/export-responses/ES_9EkFEbPRlRGExeu
  response:
    status: 200
    headers:
      request-time: '62'
      content-type: application/json
    body:
      string: '{"result":{"percentComplete":0.0,"status":"inProgress"},"meta":{"requestId":"5bf488dd-ccf4-4a20-8a00-2335794708c0","httpStatus":"200
        - OK"}}'
  recorded_at: 2025-08-05 03:01:35
[...]
- request:
    method: GET
    uri: https://iad1.qualtrics.com/API/v3/surveys/SV_56icaa9YAafpAqx/export-responses/ES_9EkFEbPRlRGExeu
  response:
    status: 200
    headers:
      request-time: '148'
      content-type: application/json
    body:
      string: '{"result":{"fileId":"f2ee4fd3-6ca5-4254-b92d-5a419e73e24a-def","percentComplete":100.0,"status":"complete"},"meta":{"requestId":"acacbed6-242e-4618-afd1-7ca31733f4aa","httpStatus":"200
        - OK"}}'
  recorded_at: 2025-08-05 03:01:38
- request:
    method: GET
    uri: https://iad1.qualtrics.com/API/v3/surveys/SV_56icaa9YAafpAqx/export-responses/f2ee4fd3-6ca5-4254-b92d-5a419e73e24a-def/file
  response:
    status: 200
    headers:
      request-time: '79'
      content-disposition: attachment; filename=Cats+Can+Have+a+Little+Salami.zip
      content-type: application/zip
    body:
      raw_gzip: |-
        eJyFWFc4GwDbjVFir4jRUGpUVZUa0djEjBG1R+29S0Upao/YagSt0RpFrVCjrb2q9qxNqRkr
        1Czy97/
        6v+e/+c77vM+5OOc5d+fmIBEkpCAAEAgEPGa9ZQ74D3D/e2WbF75cyjaeXOo2KAcu
        Gy4tlxcv3B249G
        3cbTxchO18UVNm/T47WplLxvCWiBDJRkGz02oGIgYOqPsaEV0o0ZrNmnoR
        qb1bO3vCehL6o8OjV+YVg
        Y2B4YGRcvf4EtIZrf8aqai9IpLySw84GhAL2lTviiXVy4UbyJwK
        ncomqINibOUPnYholGs5yHmxwbrn
        b/YouCWCRygJQnkzeRzDZXy01rw1zoEHodFUy1QufYzz
        KNZbp7y95skb3ccfeZYixZt4l4T4xQQtB/5
        S/n[...]
- request:
    method: GET
    uri: https://iad1.qualtrics.com/API/v3/surveys/SV_56icaa9YAafpAqx/
  response:
    status: 200
    headers:
      request-time: '232'
      content-type: application/json
    body:
      string: '{"result":{"id":"SV_56icaa9YAafpAqx","name":"Cats Can Have a Little
        Salami","ownerId":"UR_8wfG5qsMxuh0Jrn","organizationId":"conjoint","isActive":true,"creationDate":"2020-02-11T03:34:45Z","lastModifiedDate":"2020-06-10T23:19:16Z","expiration":{"startDate":null,"endDate":null},"questions":{"QID3":{"questionType":{"type":"DB","selector":"TB","subSelector":null},"questionText":"<div>Activity
        Name: <b>Have a little salami... TOGETHER!</b></div>\n\n<div>Activity Date:
        <b>Feb 1, 2020</b></div>\n\n<div> </div>\n\n<div>The purpose of this survey
        is to collect feedback on our recent team activity. \n<div> </div><div><br></div>\n\n<div>It
        will take only 3 to 4 minutes. Your feedback is anonymous and will be used
        only to help us improve future activities. </div>\n</div>","questionLabel":null,"validation":{"doesForceResponse":false},"questionName":"Q1.1"},"QID101":{"questionType":{"type":"DB","selector":"GRB","subSelector":"WOTXBURL"},"questionText":"Click
        to write the question text","questionLabel":null,"validation":{"doesForceResponse":false},"questionName":"Q14"},"QID1":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"<div><div>On
        which team do you currently work?</div></div>","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q1.2","choices":{"1":{"recode":"1","description":"Legal","choiceText":"Legal","imageDescription":null,"variableName":null,"analyze":true},"2":{"recode":"2","description":"Marketing","choiceText":"Marketing","imageDescription":null,"variableName":null,"analyze":true},"3":{"recode":"3","description":"Product","choiceText":"Product","imageDescription":null,"variableName":null,"analyze":true},"4":{"recode":"4","description":"Litter
        Box Maintenance","choiceText":"Litter Box Maintenance","imageDescription":null,"variableName":null,"analyze":true},"5":{"recode":"5","description":"Finance","choiceText":"Finance","imageDescription":null,"variableName":null,"analyze":true},"6":{"recode":"6","description":"Customer
        Support","choiceText":"Customer Support","imageDescription":null,"variableName":null,"analyze":true},"7":{"recode":"7","description":"Sales","choiceText":"Sales","imageDescription":null,"variableName":null,"analyze":true},"8":{"recode":"8","description":"Executive","choiceText":"Executive","imageDescription":null,"variableName":null,"analyze":true},"9":{"recode":"9","description":"Human
        Resources","choiceText":"Human Resources","imageDescription":null,"variableName":null,"analyze":true},"10":{"recode":"10","description":"Other","choiceText":"Other","imageDescription":null,"variableName":null,"analyze":true,"textEntry":{}}}},"QID2":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"<div><div>For
        how long have you worked at Delicious Salami Co?</div></div>","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q2.1","choices":{"1":{"recode":"1","description":"Less
        than 1 year","choiceText":"Less than 1 year","imageDescription":null,"variableName":null,"analyze":true},"2":{"recode":"2","description":"1-3
        years","choiceText":"1-3 years","imageDescription":null,"variableName":null,"analyze":true},"3":{"recode":"3","description":"4-6
        years","choiceText":"4-6 years","imageDescription":null,"variableName":null,"analyze":true},"4":{"recode":"4","description":"7-9
        years","choiceText":"7-9 years","imageDescription":null,"variableName":null,"analyze":true},"5":{"recode":"5","description":"10+
        years","choiceText":"10+ years","imageDescription":null,"variableName":null,"analyze":true}}},"QID18":{"questionType":{"type":"MC","selector":"NPS","subSelector":null},"questionText":"On
        a scale from 0-10, how likely are you to recommend that cats can have a little
        salami to a friend or colleague?","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q3.13","choices":{"0":{"recode":"0","description":"0","choiceText":"0","imageDescription":null,"variableName":null,"analyze":true},"1":{"recode":"1","description":"1","choiceText":"1","imageDescription":null,"[...]
