http_interactions:
- request:
    method: GET
    uri: https://iad1.qualtrics.com/API/v3/survey-definitions/SV_3gbwq8aJgqPwQDP/
  response:
    status: 200
    headers:
      request-time: '458'
      content-type: application/json
    body:
      string: '{"meta":{"httpStatus":"200 - OK","requestId":"268958d5-93e2-4570-9348-e94270fe7a81"},"result":{"QuestionCount":"1000","SurveyOptions":{"BackButton":"false","SaveAndContinue":"true","SurveyProtection":"PublicSurvey","BallotBoxStuffingPrevention":"true","NoIndex":"Yes","SecureResponseFiles":"true","SurveyExpiration":null,"SurveyTermination":"DefaultMessage","Header":"","Footer":"","ProgressBarDisplay":"None","PartialData":"+1
        week","ValidationMessage":null,"PreviousButton":" ← ","NextButton":" → ","SkinLibrary":"Qualtrics","SkinType":"MQ","Skin":"xmskin","NewScoring":1,"libraryId":"","nextButtonMid":"","previousButtonMid":"","headerMid":"","footerMid":"","QuestionsPerPage":"","PageTransition":"None","Autofocus":"false","Autoadvance":"false","AutoadvancePages":"false","ExternalCSS":null,"CustomStyles":{"errorStyles":{"selector":".Skin
        .ValidationError","styles":{"color":null,"backgroundColor":null,"borderColor":null}},"errorStylesBG":{"selector":".Skin
        .HeaderValidationError, .Skin .HeaderValidationError li a","styles":{"color":null,"backgroundColor":null}},"pageStyles":{"selector":"#SurveyEngineBody","styles":{"backgroundColor":null}},"textStyles":{"selector":".SkinInner","styles":{"fontFamily":null,"fontSize":null,"fontWeight":null,"fontStyle":null,"textDecoration":null,"color":null}},"questionStyles":{"selector":".Skin
        .QuestionText","styles":{"fontFamily":null,"fontSize":null,"fontWeight":null,"fontStyle":null,"textDecoration":null,"color":null}},"choiceStyles":{"selector":".Skin
        .horizontalbar th.ylabel, .Skin .Matrix table td, .Skin .Matrix table th,
        .Skin .Matrix table thead th, .Skin .Matrix table thead td, .Skin .PGR .DragAndDrop
        .Items label, .Skin .QuestionBody ul.ChoiceStructure, .Skin .PGR .DragAndDrop
        .Group ul, .Skin .PGR .DragAndDrop .Group h2, .Skin .PGR .DragAndDrop .Items
        ul, .Skin .PGR .DragAndDrop .Items h2, .Skin .DD .QuestionBody table.ChoiceStructure,
        .Skin .PGR .DragAndDrop .NoColumns[...]
