http_interactions:
- request:
    method: POST
    uri: https://iad1.qualtrics.com/API/v3/surveys/SV_3gbwq8aJgqPwQDP/export-responses/
    body:
      string: '{"format":"csv","useLabels":true,"startDate":"2015-01-01T00:00:00-07:00","endDate":"2022-06-02T18:40:53-06:00","timeZone":"America/Denver","limit":15,"seenUnansweredRecode":999,"multiselectSeenUnansweredRecode":999,"includeDisplayOrder":true,"questionIds":["QID16","QID17"],"surveyMetadataIds":["startDate","endDate","_recordId"],"breakoutSets":false}'
  response:
    status: 200
    headers:
      request-time: '172'
      content-type: application/json
    body:
      string: '{"result":{"progressId":"ES_4T018NxH3y9jL3o","percentComplete":0.0,"status":"inProgress"},"meta":{"requestId":"095ba922-8cd1-42d2-8464-f972fecd1673","httpStatus":"200
        - OK"}}'
  recorded_at: 2025-08-05 00:46:34
- request:
    method: GET
    uri: https://iad1.qualtrics.com/API/v3/surveys/SV_3gbwq8aJgqPwQDP/export-responses/ES_4T018NxH3y9jL3o
  response:
    status: 200
    headers:
      request-time: '50'
      content-type: application/json
    body:
      string: '{"result":{"percentComplete":0.0,"status":"inProgress"},"meta":{"requestId":"ec9a764c-2cd4-473a-b1a4-5a05d70400e9","httpStatus":"200
        - OK"}}'
  recorded_at: 2025-08-05 00:46:35
[...]
- request:
    method: GET
    uri: https://iad1.qualtrics.com/API/v3/surveys/SV_3gbwq8aJgqPwQDP/export-responses/ES_4T018NxH3y9jL3o
  response:
    status: 200
    headers:
      request-time: '49'
      content-type: application/json
    body:
      string: '{"result":{"fileId":"fcf11ffd-791b-4267-9209-e81222c29dd1-def","percentComplete":100.0,"status":"complete"},"meta":{"requestId":"65b8bf2b-88b5-4b57-89bd-3ca66947db50","httpStatus":"200
        - OK"}}'
  recorded_at: 2025-08-05 00:46:38
- request:
    method: GET
    uri: https://iad1.qualtrics.com/API/v3/surveys/SV_3gbwq8aJgqPwQDP/export-responses/fcf11ffd-791b-4267-9209-e81222c29dd1-def/file
  response:
    status: 200
    headers:
      request-time: '71'
      content-disposition: attachment; filename=Beskar+Armor.zip
      content-type: application/zip
    body:
      raw_gzip: |-
        eJwL8GZmEWHg4OBguMzKGs2ABASA2Cm1ODuxSMGxKDe/SC+5uGzplPvBiw0Ejt/PP/a/8WTx
        HO6Fmqr
        65lfDuvoCor5Gxc8RSepmXaS4dK359/3xG56vvPHrdVoC0+6b58s330xZMSNEdpnF
        m2cfD1s8OLr2BP
        e7owYms39tfRiwhHtqR82B00suPL63PVE0zeaYpD4T73pmx4Cik5dEpIw3
        mnAtm/TI6uHGgyrm15ISd
        YRNV9stMXx4dI7n2xMtfxgT+qfOloxh7vF40uXqxe7W7dTpM5tL
        77TKI7bZHa23mm5M0vnB2jD9LtfK
        PRIMXA4fd2QwKDBonfyx9MTP5tVrTSd11L7/EKPOcCDf
        drHcOfOpv6I+TH0ycULh1+1nZatkN++8nZp
        ffvV6zNlbv9sE3X5zvJ/dl7htxc0lvDzZZrNn
        8cnEbH17Zddr/3wbG97ZT2euSzw23XjZvDK+vkrGwr
        mZil4evZmmK1Kzl2m+c74i97vd6NDm
        wB9HeiY/ks05vLA3jNdb4Oi0Y1HlBx+o7OLdlSH29W72i+K7X
        qHxf15vjDlRbrqlQa+dE2iP
        UnC2hnnIwQUz/U65JVjO7c/48WgrS2bQnVWeAu2zXLynrMtePm++X1it
        dezNDbuDJqXbxErv
        niEh2RHQs7LzgbZ0ZujSl3fP+DfNW5yyZ0vTsW2xd9q2nHme+W9rYtcs0SC56J3
        1G/O+zD1X
        cPV/jaqZxSLjkiyhI4t2TLKYMNfYnH/38unPXx/O+LpGKD/Z1+Vit93NG6vYs3N83Dpl+P
        k+
        VUiypv+cbrT+G3e47sdbYZ4Gk7623v0ua7jfZrv7f+XGco8Fwfc/u7022HD34pnecplF54Nk
        v2vM
        sXpcVBUfdfTRI+70F7W9YrMKpsjqVrU83Vb++2NurfTpH4kzJltGWj5mWFwhXpa+65pY
        XunaDd1fLA5
        41z66u/ib//9e6Q/8Ad7sHH/OrBfvZGJgMGJnYAjwZmQSYUAkZGQ5AQZ0gJ6s
        A7xZ2UDijEBoB6SPA3
        UyMAAAWWljVg==
  recorded_at: 2025-08-05 00:46:38
- request:
    method: GET
    uri: https://iad1.qualtrics.com/API/v3/surveys/SV_3gbwq8aJgqPwQDP/
  response:
    status: 200
    headers:
      request-time: '240'
      content-type: application/json
    body:
      string: '{"result":{"id":"SV_3gbwq8aJgqPwQDP","name":"Beskar Armor","ownerId":"UR_8wfG5qsMxuh0Jrn","organizationId":"conjoint","isActive":true,"creationDate":"2020-02-20T00:35:40Z","lastModifiedDate":"2024-06-10T23:20:09Z","expiration":{"startDate":null,"endDate":null},"questions":{"QID63":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"How
        often do you typically use your beskar armor?","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q63","choices":{"1":{"recode":"1","description":"daily","choiceText":"<span
        style=\"color:#8e44ad;\">Daily</span>","imageDescription":null,"variableName":"daily","analyze":true},"2":{"recode":"2","description":"weekly","choiceText":"Weekly","imageDescription":null,"variableName":"weekly","analyze":true},"3":{"recode":"3","description":"monthly","choiceText":"Once
        a <span style=\"background-color:#9b59b6;\">month</span>","imageDescription":null,"variableName":"monthly","analyze":true},"4":{"recode":"4","description":"less
        often","choiceText":"<a href=\"https://www.instagram.com/p/B5qn5ath0ij/?hl=en\">Less
        often</a>","imageDescription":null,"variableName":"less often","analyze":true},"5":{"recode":"5","description":"do
        not use","choiceText":"Do not use","imageDescription":null,"variableName":"do
        not use","analyze":true}}},"QID16":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"Overall,
        how satisfied are you with your beskar armor?","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q16","choices":{"5":{"recode":"5","description":"<strong>Extremely</strong>
        satisfied","choiceText":"<strong>Extremely</strong> satisfied","imageDescription":null,"variableName":null,"analyze":true},"4":{"recode":"4","description":"<a
        href=\"https://giphy.com/explore/baby-yoda\">Somewhat satisfied</a>","choiceText":"<a
        href=\"https://giphy.com/explore/baby-yoda\">Somewhat satisfied</a>","imageDescription":null,"variableName":null,"analyze":true},"3":{"recode":"3","description":"<span
        style=\"background-color:#e74c3c;\">Neither</span> <span style=\"background-color:#e67e22;\">satisfied</span>
        <span style=\"background-color:#f1c40f;\">nor</span> <span style=\"background-color:#27ae60;\">dissatisfied</span>","choiceText":"<span
        style=\"background-color:#e74c3c;\">Neither</span> <span style=\"background-color:#e67e22;\">satisfied</span>
        <span style=\"background-color:#f1c40f;\">nor</span> <span style=\"background-color:#27ae60;\">dissatisfied</span>","imageDescription":null,"variableName":null,"analyze":true},"2":{"recode":"2","description":"<a
        href=\"https://www.gq.com/story/werner-herzog-baby-yoda\">Somewhat dissatisfied</a>","choiceText":"<a
        href=\"https://www.gq.com/story/werner-herzog-baby-yoda\">Somewhat dissatisfied</a>","imageDescription":null,"variableName":null,"analyze":true},"1":{"recode":"1","description":"<em>Extremely</em>
        dissatisfied","choiceText":"<em>Extremely</em> dissatisfied","imageDescription":null,"variableName":null,"analyze":true}}},"QID17":{"questionType":{"type":"MC","selector":"SAHR","subSelector":"TX"},"questionText":"Have
        you ever contacted customer service about your beskar armor?","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q17","choices":{"1":{"recode":"1","description":"Yes","choiceText":"Yes","imageDescription":null,"variableName":null,"analyze":true},"2":{"recode":"2","description":"No","choiceText":"No","imageDescription":null,"variableName":null,"analyze":true}}},"QID18":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"Have
        all problems been resolved to your complete satisfaction?","questionLabel":null,"validation":{"doesForceResponse":false},"questionName":"Q18","choices":{"1":{"recode":"1","description":"Yes,
        by the tribe or its representatives \n<video class=\"qmedia\" controls=\"true\"
        height=\"268\" preload=\"auto\" width=\"268\"><source src=\"https://i.imgur.com/QlAme0q.mp4\"
        type=\"video/mp4\" /><embed align=\"middle\" autoplay=\"false\" bgcolor=\"white\"
        class=\"qmedia\" controller=\"true\" height=\"268\" pluginspage=\"http://www.apple.com/quicktime/download/\"
        src=\"https://i.imgur.com/QlAme0q.mp4\" type=\"video/quicktime\" width=\"268\"
        /></video>\n","choiceText":"Yes, by the tribe or its representatives \n<video
        class=\"qmedia\" controls=\"true\" height=\"268\" preload=\"auto\" width=\"268\"><source
        src=\"https://i.imgur.com/QlAme0q.mp4\" type=\"vide[...]
