http_interactions:
- request:
    method: get
    uri: https://t.qualtrics.com/API/v3/distributions?surveyId=SV_0CBoEpG6UVXH4SV
    body:
      encoding: ''
      string: ''
    headers:
      X-API-TOKEN: <<<my_api_key>>>
      Content-Type: application/json
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      request-time: '117'
    body:
      encoding: UTF-8
      file: no
      string: '{"result":{"elements":[],"nextPage":null},"meta":{"httpStatus":"200
        - OK","requestId":"fa3cd279-8ad0-41e3-9d46-6c22ac6d31e3"}}'
  recorded_at: 2020-05-24 20:42:16 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
