http_interactions:
- request:
    method: POST
    uri: https://iad1.qualtrics.com/API/v3/surveys/SV_3gbwq8aJgqPwQDP/export-responses/
    body:
      string: '{"format":"csv","useLabels":true,"startDate":"2015-01-01T00:00:00-07:00","endDate":"2022-06-02T18:40:53-06:00","timeZone":"America/Denver","limit":15,"seenUnansweredRecode":999,"multiselectSeenUnansweredRecode":999,"includeDisplayOrder":true,"questionIds":["QID16","QID17"],"surveyMetadataIds":["startDate","endDate","_recordId"],"breakoutSets":false}'
  response:
    status: 200
    headers:
      request-time: '272'
      content-type: application/json
    body:
      string: '{"result":{"progressId":"ES_1KQqDVroNmzg0m2","percentComplete":0.0,"status":"inProgress"},"meta":{"requestId":"e349242f-4989-4ce8-8ae4-1fbb23ce599d","httpStatus":"200
        - OK"}}'
  recorded_at: 2025-08-05 02:59:43
- request:
    method: GET
    uri: https://iad1.qualtrics.com/API/v3/surveys/SV_3gbwq8aJgqPwQDP/export-responses/ES_1KQqDVroNmzg0m2
  response:
    status: 200
    headers:
      request-time: '53'
      content-type: application/json
    body:
      string: '{"result":{"percentComplete":0.0,"status":"inProgress"},"meta":{"requestId":"4b547b54-e46c-414b-883b-b2af4c812e46","httpStatus":"200
        - OK"}}'
  recorded_at: 2025-08-05 02:59:44
[...]
- request:
    method: GET
    uri: https://iad1.qualtrics.com/API/v3/surveys/SV_3gbwq8aJgqPwQDP/export-responses/ES_1KQqDVroNmzg0m2
  response:
    status: 200
    headers:
      request-time: '63'
      content-type: application/json
    body:
      string: '{"result":{"fileId":"d2f1508b-e12a-4407-b457-ac02ffecc432-def","percentComplete":100.0,"status":"complete"},"meta":{"requestId":"d1adae5b-9a50-4ac3-9b95-8a79cb777e93","httpStatus":"200
        - OK"}}'
  recorded_at: 2025-08-05 02:59:45
- request:
    method: GET
    uri: https://iad1.qualtrics.com/API/v3/surveys/SV_3gbwq8aJgqPwQDP/export-responses/d2f1508b-e12a-4407-b457-ac02ffecc432-def/file
  response:
    status: 200
    headers:
      request-time: '84'
      content-disposition: attachment; filename=Beskar+Armor.zip
      content-type: application/zip
    body:
      raw_gzip: |-
        eJwL8GZmEWHg4OBgKBNnjWZAAgJA7JRanJ1YpOBYlJtfpJdcXLZ0yv3gxQYCx+/nH/vfeLJ4
        DvdCTVV
        986thXX0BUV+j4ueIJHWzLlJcutb8+/74Dc9X3vj1Oi2BaffN8+Wbb6asmBEiu8zi
        zbOPhy0eHF17gv
        vdUQOT2b+2PgxYwj21o+bA6SUXHt/bniiaZnNMUp+Jdz2zY0DRyUsiUsYb
        TbiWTXpk9XDjQRXza0mJO
        sKmq+2WGD48Osfz7YmWP4wJ/VNnS8Yw93g86XL1Ynfrdur0mc2l
        d1rlEdvsjtZbTTcm6fxgbZh+l2vl
        HgkGLoePOzIYFBi0Tv5YeuJn8+q1ppM6at9/iFFnOJBv
        u1junPnUX1Efpj6ZOKHw6/azslWym3feTs0
        vv3o95uyt322Cbr853s/uS9y24uYSXp5ss9mz
        +GRitr69suu1f76NDe/spzPXJR6bbrxsXhlfXyVj4d
        xMRS+P3kzTFanZyzTfOV+R+91udGhz
        4I8jPZMfyeYcXtgbxustcHTasajygw9UdvHuyhD7ejf7RfFdr
        9D4P683xpwoN93SoNfOCbRH
        KThbwzzk4IKZfqfcEizn9mf8eLSVJTPozipPgfZZLt5T1mUvnzffL6zW
        Ovbmht1Bk9JtYqV3
        z5CQ7AjoWdn5QFs6M3Tpy7tn/JvmLU7Zs6Xp2LbYO21bzjzP/Lc1sWuWaJBc9M7
        6jXlf5p4r
        uPq/RtXMYpFxSZbQkUU7JllMmGtszr97+fTnrw9nfF0jlJ/s63Kx2+7mjVXs2Tk+bp0y/H
        yf
        KiRZ039ON1r/jTtc9+OtME+DSV9b736XNdxvs939v3JjuceC4Puf3V4bbLh78Uxvucyi80Gy
        3zXm
        WD0uqoqPOvroEXf6i9pesVkFU2R1q1qebiv//TG3Vvr0j8QZky0jLR8zLK4QL0vfdU0s
        r3Tthu4vFge
        8ax/dXfzN/3+v9Af+AG92jj9n1ot3MjEwGLEzMAR4MzKJMCASMrKcAAM6QE/W
        Ad6sbCBxRiC0A9LHgT
        oZGABeI2LA
  recorded_at: 2025-08-05 02:59:45
- request:
    method: GET
    uri: https://iad1.qualtrics.com/API/v3/surveys/SV_3gbwq8aJgqPwQDP/
  response:
    status: 200
    headers:
      request-time: '250'
      content-type: application/json
    body:
      string: '{"result":{"id":"SV_3gbwq8aJgqPwQDP","name":"Beskar Armor","ownerId":"UR_8wfG5qsMxuh0Jrn","organizationId":"conjoint","isActive":true,"creationDate":"2020-02-20T00:35:40Z","lastModifiedDate":"2024-06-10T23:20:09Z","expiration":{"startDate":null,"endDate":null},"questions":{"QID63":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"How
        often do you typically use your beskar armor?","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q63","choices":{"1":{"recode":"1","description":"daily","choiceText":"<span
        style=\"color:#8e44ad;\">Daily</span>","imageDescription":null,"variableName":"daily","analyze":true},"2":{"recode":"2","description":"weekly","choiceText":"Weekly","imageDescription":null,"variableName":"weekly","analyze":true},"3":{"recode":"3","description":"monthly","choiceText":"Once
        a <span style=\"background-color:#9b59b6;\">month</span>","imageDescription":null,"variableName":"monthly","analyze":true},"4":{"recode":"4","description":"less
        often","choiceText":"<a href=\"https://www.instagram.com/p/B5qn5ath0ij/?hl=en\">Less
        often</a>","imageDescription":null,"variableName":"less often","analyze":true},"5":{"recode":"5","description":"do
        not use","choiceText":"Do not use","imageDescription":null,"variableName":"do
        not use","analyze":true}}},"QID16":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"Overall,
        how satisfied are you with your beskar armor?","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q16","choices":{"5":{"recode":"5","description":"<strong>Extremely</strong>
        satisfied","choiceText":"<strong>Extremely</strong> satisfied","imageDescription":null,"variableName":null,"analyze":true},"4":{"recode":"4","description":"<a
        href=\"https://giphy.com/explore/baby-yoda\">Somewhat satisfied</a>","choiceText":"<a
        href=\"https://giphy.com/explore/baby-yoda\">Somewhat satisfied</a>","imageDescription":null,"variableName":null,"analyze":true},"3":{"recode":"3","description":"<span
        style=\"background-color:#e74c3c;\">Neither</span> <span style=\"background-color:#e67e22;\">satisfied</span>
        <span style=\"background-color:#f1c40f;\">nor</span> <span style=\"background-color:#27ae60;\">dissatisfied</span>","choiceText":"<span
        style=\"background-color:#e74c3c;\">Neither</span> <span style=\"background-color:#e67e22;\">satisfied</span>
        <span style=\"background-color:#f1c40f;\">nor</span> <span style=\"background-color:#27ae60;\">dissatisfied</span>","imageDescription":null,"variableName":null,"analyze":true},"2":{"recode":"2","description":"<a
        href=\"https://www.gq.com/story/werner-herzog-baby-yoda\">Somewhat dissatisfied</a>","choiceText":"<a
        href=\"https://www.gq.com/story/werner-herzog-baby-yoda\">Somewhat dissatisfied</a>","imageDescription":null,"variableName":null,"analyze":true},"1":{"recode":"1","description":"<em>Extremely</em>
        dissatisfied","choiceText":"<em>Extremely</em> dissatisfied","imageDescription":null,"variableName":null,"analyze":true}}},"QID17":{"questionType":{"type":"MC","selector":"SAHR","subSelector":"TX"},"questionText":"Have
        you ever contacted customer service about your beskar armor?","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q17","choices":{"1":{"recode":"1","description":"Yes","choiceText":"Yes","imageDescription":null,"variableName":null,"analyze":true},"2":{"recode":"2","description":"No","choiceText":"No","imageDescription":null,"variableName":null,"analyze":true}}},"QID18":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"Have
        all problems been resolved to your complete satisfaction?","questionLabel":null,"validation":{"doesForceResponse":false},"questionName":"Q18","choices":{"1":{"recode":"1","description":"Yes,
        by the tribe or its representatives \n<video class=\"qmedia\" controls=\"true\"
        height=\"268\" preload=\"auto\" width=\"268\"><source src=\"https://i.imgur.com/QlAme0q.mp4\"
        type=\"video/mp4\" /><embed align=\"middle\" autoplay=\"false\" bgcolor=\"white\"
        class=\"qmedia\" controller=\"true\" height=\"268\" pluginspage=\"http://www.apple.com/quicktime/download/\"
        src=\"https://i.imgur.com/QlAme0q.mp4\" type=\"video/quicktime\" width=\"268\"
        /></video>\n","choiceText":"Yes, by the tribe or its representatives \n<video
        class=\"qmedia\" controls=\"true\" height=\"268\" preload=\"auto\" width=\"268\"><source
        src=\"https://i.imgur.com/QlAme0q.mp4\" type=\"vide[...]
