http_interactions:
- request:
    method: GET
    uri: https://iad1.qualtrics.com/API/v3/surveys/SV_3gbwq8aJgqPwQDP/
  response:
    status: 200
    headers:
      request-time: '230'
      content-type: application/json
    body:
      string: '{"result":{"id":"SV_3gbwq8aJgqPwQDP","name":"Beskar Armor","ownerId":"UR_8wfG5qsMxuh0Jrn","organizationId":"conjoint","isActive":true,"creationDate":"2020-02-20T00:35:40Z","lastModifiedDate":"2024-06-10T23:20:09Z","expiration":{"startDate":null,"endDate":null},"questions":{"QID63":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"How
        often do you typically use your beskar armor?","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q63","choices":{"1":{"recode":"1","description":"daily","choiceText":"<span
        style=\"color:#8e44ad;\">Daily</span>","imageDescription":null,"variableName":"daily","analyze":true},"2":{"recode":"2","description":"weekly","choiceText":"Weekly","imageDescription":null,"variableName":"weekly","analyze":true},"3":{"recode":"3","description":"monthly","choiceText":"Once
        a <span style=\"background-color:#9b59b6;\">month</span>","imageDescription":null,"variableName":"monthly","analyze":true},"4":{"recode":"4","description":"less
        often","choiceText":"<a href=\"https://www.instagram.com/p/B5qn5ath0ij/?hl=en\">Less
        often</a>","imageDescription":null,"variableName":"less often","analyze":true},"5":{"recode":"5","description":"do
        not use","choiceText":"Do not use","imageDescription":null,"variableName":"do
        not use","analyze":true}}},"QID16":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"Overall,
        how satisfied are you with your beskar armor?","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q16","choices":{"5":{"recode":"5","description":"<strong>Extremely</strong>
        satisfied","choiceText":"<strong>Extremely</strong> satisfied","imageDescription":null,"variableName":null,"analyze":true},"4":{"recode":"4","description":"<a
        href=\"https://giphy.com/explore/baby-yoda\">Somewhat satisfied</a>","choiceText":"<a
        href=\"https://giphy.com/explore/baby-yoda\">Somewhat satisfied</a>","imageDescription":null,"variableName":null,"analyze":true},"3":{"recode":"3","description":"<span
        style=\"background-color:#e74c3c;\">Neither</span> <span style=\"background-color:#e67e22;\">satisfied</span>
        <span style=\"background-color:#f1c40f;\">nor</span> <span style=\"background-color:#27ae60;\">dissatisfied</span>","choiceText":"<span
        style=\"background-color:#e74c3c;\">Neither</span> <span style=\"background-color:#e67e22;\">satisfied</span>
        <span style=\"background-color:#f1c40f;\">nor</span> <span style=\"background-color:#27ae60;\">dissatisfied</span>","imageDescription":null,"variableName":null,"analyze":true},"2":{"recode":"2","description":"<a
        href=\"https://www.gq.com/story/werner-herzog-baby-yoda\">Somewhat dissatisfied</a>","choiceText":"<a
        href=\"https://www.gq.com/story/werner-herzog-baby-yoda\">Somewhat dissatisfied</a>","imageDescription":null,"variableName":null,"analyze":true},"1":{"recode":"1","description":"<em>Extremely</em>
        dissatisfied","choiceText":"<em>Extremely</em> dissatisfied","imageDescription":null,"variableName":null,"analyze":true}}},"QID17":{"questionType":{"type":"MC","selector":"SAHR","subSelector":"TX"},"questionText":"Have
        you ever contacted customer service about your beskar armor?","questionLabel":null,"validation":{"doesForceResponse":true},"questionName":"Q17","choices":{"1":{"recode":"1","description":"Yes","choiceText":"Yes","imageDescription":null,"variableName":null,"analyze":true},"2":{"recode":"2","description":"No","choiceText":"No","imageDescription":null,"variableName":null,"analyze":true}}},"QID18":{"questionType":{"type":"MC","selector":"SAVR","subSelector":"TX"},"questionText":"Have
        all problems been resolved to your complete satisfaction?","questionLabel":null,"validation":{"doesForceResponse":false},"questionName":"Q18","choices":{"1":{"recode":"1","description":"Yes,
        by the tribe or its representatives \n<video class=\"qmedia\" controls=\"true\"
        height=\"268\" preload=\"auto\" width=\"268\"><source src=\"https://i.imgur.com/QlAme0q.mp4\"
        type=\"video/mp4\" /><embed align=\"middle\" autoplay=\"false\" bgcolor=\"white\"
        class=\"qmedia\" controller=\"true\" height=\"268\" pluginspage=\"http://www.apple.com/quicktime/download/\"
        src=\"https://i.imgur.com/QlAme0q.mp4\" type=\"video/quicktime\" width=\"268\"
        /></video>\n","choiceText":"Yes, by the tribe or its representatives \n<video
        class=\"qmedia\" controls=\"true\" height=\"268\" preload=\"auto\" width=\"268\"><source
        src=\"https://i.imgur.com/QlAme0q.mp4\" type=\"vide[...]
